# Useful all-around snippets

snippet fheader "Common header for code file" b
/* ${1:context}/${2:repo}
 *
 * ${3:/path} - ${4:description}
 *
 * coded by ${5:leny@flatLand!}
 * started at ${6:date}
 */

$0
endsnippet
