"*":
  "exception-reporting":
    userId: "b08fe082-5af7-c7d4-b900-777e08a254b5"
  welcome:
    showOnStartup: false
  metrics:
    userId: "5acd58d5e46233222cf4316630249b64bf87bc75"
  editor:
    fontFamily: "Fira Mono OT"
    fontSize: 12
    showInvisibles: true
    invisibles: {}
    tabLength: 4
  core:
    disabledPackages: [
      "wrap-guide"
      "gutter-shadow"
    ]
    themes: [
      "seti-ui"
      "tomorrow-night-eighties"
    ]
    destroyEmptyPanes: false
    packagesWithKeymapsDisabled: [
      "spell-check"
    ]
  "atom-color-highlight":
    hideMarkersInStrings: true
    hideMarkersInComments: true
  "tree-view":
    hideVcsIgnoredFiles: true
    hideIgnoredNames: true
  emmet:
    extensionsPath: "~/.pwendok/emmet"
  autosave:
    enabled: true
  "inline-autocomplete":
    includeGrammarKeywords: true
    includeCompletionsFromAllBuffers: true
  "string-looper":
    enums: [
      [
        "oui"
        "non"
      ]
      [
        "am"
        "pm"
      ]
    ]
  "fuzzy-finder":
    ignoredNames: [
      "*.scssc"
    ]
  "easy-motion": {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
    subtleLinterErrors: [
      "csslint"
      "htmlhint"
    ]
    showErrorInline: false
    statusBar: "Show error if the cursor is in range"
    showErrorPanel: false
  htmlhint:
    validateOnSave: false
  "html-validation": {}
  "w3c-validation":
    validateOnSave: false
  "tree-ignore": {}
  "tab-control":
    autoSaveChanges: true
    displayInStatusBar: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    useGlobalEslint: true
    globalNodePath: "/usr/local"
  "file-types": {}
  "atom-beautify":
    _analyticsUserId: "a375f862-3e7f-4e6b-8a52-7e8fa1dcd539"
  build: {}
  "run-command": {}
  covalent: {}
  motepair: {}
  "spell-check": {}
  "wrap-and-pad":
    "trim-before": true
  "local-config":
    applyOnActivation: true
".css.scss.source":
  editor:
    tabLength: 4
    softTabs: true
".basic.html.text":
  editor:
    tabLength: 4
    softTabs: true
".jade.source":
  whitespace:
    removeTrailingWhitespace: true
".source.yaml":
  editor:
    tabLength: 2
    softTabs: true
".js.source":
  editor:
    tabLength: 4
    softTabs: true
".coffee.source":
  editor:
    tabLength: 2
    softTabs: true
"source.coffee":
  editor:
    tabLength: 4
"source.js":
  editor:
    tabLength: 4
    softTabs: true
