"*":
  "exception-reporting":
    userId: "b08fe082-5af7-c7d4-b900-777e08a254b5"
  welcome:
    showOnStartup: false
  metrics:
    userId: "5acd58d5e46233222cf4316630249b64bf87bc75"
  editor:
    fontFamily: "Fira Mono OT"
    fontSize: 12
    showInvisibles: true
    invisibles:
      {}
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    themes: [
      "seti-ui"
      "tomorrow-night-eighties"
    ]
    destroyEmptyPanes: false
  "atom-color-highlight":
    hideMarkersInStrings: true
    hideMarkersInComments: true
  "tree-view":
    hideVcsIgnoredFiles: true
    hideIgnoredNames: true
  emmet:
    extensionsPath: "~/.pwendok/emmet"
  autosave:
    enabled: true
  "inline-autocomplete":
    includeGrammarKeywords: true
    includeCompletionsFromAllBuffers: true
  "atom-spotify":
    displayOnLeftSide: false
  "string-looper":
    enums: [
      [
        "oui"
        "non"
      ]
      [
        "am"
        "pm"
      ]
    ]
  "fuzzy-finder":
    ignoredNames: [
      "*.scssc"
    ]
  "easy-motion":
    {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  linter:
    lintOnSave: false
    lintOnChange: false
    lintOnEditorFocus: false
  htmlhint:
    validateOnSave: false
  "html-validation":
    {}
  "w3c-validation":
    validateOnSave: false
  "tree-ignore":
    {}
