"*":
  "atom-beautify":
    _analyticsUserId: "a375f862-3e7f-4e6b-8a52-7e8fa1dcd539"
  "atom-color-highlight":
    hideMarkersInComments: true
    hideMarkersInStrings: true
  autosave:
    enabled: true
  build: {}
  caniuse:
    useAccessibleColors: true
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "wrap-guide"
      "spell-check"
    ]
    packagesWithKeymapsDisabled: [
      "spell-check"
    ]
    themes: [
      "seti-ui"
      "tomorrow-night-eighties"
    ]
  covalent: {}
  "easy-motion": {}
  editor:
    fontFamily: "Fira Mono OT"
    fontSize: 12
    invisibles: {}
    showInvisibles: true
    tabLength: 4
  emmet:
    extensionsPath: "~/.pwendok/emmet"
  "exception-reporting":
    userId: "b08fe082-5af7-c7d4-b900-777e08a254b5"
  "file-types": {}
  "fuzzy-finder":
    ignoredNames: [
      "*.scssc"
    ]
  "html-validation": {}
  htmlhint:
    validateOnSave: false
  "inline-autocomplete":
    includeCompletionsFromAllBuffers: true
    includeGrammarKeywords: true
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
    showErrorPanel: false
    statusBar: "Show error if the cursor is in range"
    subtleLinterErrors: [
      "csslint"
      "htmlhint"
    ]
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "local-config":
    applyOnActivation: true
  metrics:
    userId: "5acd58d5e46233222cf4316630249b64bf87bc75"
  motepair: {}
  "run-command": {}
  "spell-check": {}
  "string-looper":
    enums: [
      [
        "oui"
        "non"
      ]
      [
        "am"
        "pm"
      ]
    ]
  "tab-control":
    autoSaveChanges: true
    displayInStatusBar: true
  "toggle-quotes":
    quoteCharacters: "\"'`"
  "tree-ignore": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "w3c-validation":
    validateOnSave: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "wrap-and-pad":
    "trim-before": true
".basic.html.text":
  editor:
    softTabs: true
    tabLength: 4
".coffee.source":
  editor:
    softTabs: true
    tabLength: 2
".jade.source":
  whitespace:
    removeTrailingWhitespace: true
".js.source":
  editor:
    softTabs: true
    tabLength: 4
".source.yaml":
  editor:
    softTabs: true
    tabLength: 4
"source.coffee":
  editor:
    softTabs: true
    tabLength: 4
"source.js":
  editor:
    softTabs: true
    tabLength: 4
