# Atom's keymap

'body':
  # Disabling some useless keybindings
  'cmd-0': 'unset!'
  'cmd-2': 'unset!'
  'cmd-6': 'unset!'
  'cmd-7': 'unset!'
  'cmd-h': 'unset!'
  'ctrl-tab': 'native!'
  'ctrl-cmd-w': 'window:close'

'.platform-darwin':
  # Add file from tree view
  'ctrl-cmd-n': 'tree-view:add-file'

'atom-workspace atom-text-editor:not([mini])':
  # Disabling conflicts
  'cmd-j': 'unset!' # 'editor:join-lines'

'.platform-darwin atom-workspace':
  # Remapping Keybindings for Pane Manager
  'cmd-k cmd-l cmd-&': 'pane-manager:change-layout-one'
  'cmd-k cmd-l cmd-2': 'pane-manager:change-layout-two'
  'cmd-k cmd-l cmd-"': 'pane-manager:change-layout-three'
  'cmd-k cmd-l cmd-\'': 'pane-manager:change-layout-four'
  'cmd-k cmd-l cmd-(': 'pane-manager:change-layout-five'
  'cmd-k cmd-l cmd-6': 'pane-manager:change-layout-six'
  'cmd-k cmd-l cmd-7': 'pane-manager:change-layout-seven'
  'cmd-k cmd-l cmd-!': 'pane-manager:change-layout-eight'
  'cmd-k cmd-l cmd-9': 'pane-manager:change-layout-nine'
  'cmd-k cmd-l cmd-0': 'pane-manager:change-layout-ten'
  'cmd-k cmd-m cmd-&': 'pane-manager:move-to-pane-one'
  'cmd-k cmd-m cmd-2': 'pane-manager:move-to-pane-two'
  'cmd-k cmd-m cmd-"': 'pane-manager:move-to-pane-three'
  'cmd-k cmd-m cmd-\'': 'pane-manager:move-to-pane-four'
  'cmd-k cmd-m cmd-(': 'pane-manager:move-to-pane-five'
  'cmd-k cmd-m cmd-6': 'pane-manager:move-to-pane-six'
  'cmd-k cmd-m cmd-7': 'pane-manager:move-to-pane-seven'
  'cmd-k cmd-m cmd-!': 'pane-manager:move-to-pane-eight'
  'cmd-k cmd-m cmd-9': 'pane-manager:move-to-pane-nine'
  'cmd-k cmd-m cmd-0': 'pane-manager:move-to-pane-ten'
  'cmd-k cmd-f cmd-&': 'pane-manager:focus-to-pane-one'
  'cmd-k cmd-f cmd-2': 'pane-manager:focus-to-pane-two'
  'cmd-k cmd-f cmd-"': 'pane-manager:focus-to-pane-three'
  'cmd-k cmd-f cmd-\'': 'pane-manager:focus-to-pane-four'
  'cmd-k cmd-f cmd-(': 'pane-manager:focus-to-pane-five'
  'cmd-k cmd-f cmd-6': 'pane-manager:focus-to-pane-six'
  'cmd-k cmd-f cmd-7': 'pane-manager:focus-to-pane-seven'
  'cmd-k cmd-f cmd-!': 'pane-manager:focus-to-pane-eight'
  'cmd-k cmd-f cmd-ç': 'pane-manager:focus-to-pane-nine'
  'cmd-k cmd-f cmd-0': 'pane-manager:focus-to-pane-ten'
  # Remapping close all
  'cmd-shift-w': 'tabs:close-all-tabs'

'.platform-darwin atom-text-editor':
  # Remapping bookmarks
  'cmd-j': 'bookmarks:toggle-bookmark'
  'ctrl-j': 'bookmarks:jump-to-next-bookmark'
  'ctrl-shift-j': 'bookmarks:jump-to-previous-bookmark'
  'cmd-alt-j': 'bookmarks:view-all'
  'ctrl-alt-cmd-j': 'bookmarks:clear-bookmarks'

'atom-text-editor:not([mini])':
  # Remapping Emmet
  'alt-shift-up': 'unset!'
  'alt-shift-down': 'unset!'
  # Expand region
  'alt-shift-up': 'expand-region:expand'
  'alt-shift-down': 'expand-region:shrink'
  # Wrap'n'pad
  'cmd-g cmd-(': 'wrap-and-pad:wrap-and-pad-with-parenthesis'
  'cmd-g cmd-5': 'wrap-and-pad:wrap-and-pad-with-brackets'
  'cmd-g alt-cmd-(': 'wrap-and-pad:wrap-and-pad-with-curly-brackets'
  # CoffeeScript Check
  "cmd-g cmd-c": "coffeescript-check:check"
  # W3C Validation
  "cmd-g cmd-h": "w3c-validation:validate"
  # Remapping autocomplete toggle
  'cmd-space': 'autocomplete:toggle'
  # Lazy Motion
  'shift-cmd-I': 'lazy-motion:forward'
  'cmd-g cmd-i': 'lazy-motion:forward'
  'shift-cmd-U': 'lazy-motion:backward'
  'cmd-g cmd-u': 'lazy-motion:backward'
  # Easy Motion (redux)
  'cmd-g cmd-e': 'easy-motion-redux:words'

'.platform-darwin atom-text-editor:not([mini])':
  # Remapping Emmet
  'shift-cmd-E': 'unset!'

'atom-text-editor[data-grammar="text html basic"]:not([mini]), atom-text-editor[data-grammar~="jade"]:not([mini]), atom-text-editor[data-grammar~="css"]:not([mini]), atom-text-editor[data-grammar~="sass"]:not([mini]), atom-text-editor[data-grammar~="stylus"]:not([mini])':
  # Emmet's language-specific Tab triggers
  'tab': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor.lazy-motion':
  # Lazy Motion internals
  'tab': 'lazy-motion:forward'
  'shift-tab': 'lazy-motion:backward'
  'esc': 'core:cancel'

".platform-darwin atom-text-editor:not([mini])[data-grammar~='gfm']":
  # Markdown Writer
  "cmd-g cmd-l": "markdown-writer:insert-link"
  "cmd-g cmd-g": "markdown-writer:insert-image"
  "cmd-g cmd-i": "markdown-writer:toggle-italic-text"
  "cmd-g cmd-b": "markdown-writer:toggle-bold-text"
  "cmd-g cmd-k": "markdown-writer:toggle-code-text"
  "cmd-g cmd-<": "markdown-writer:toggle-keystroke-text"
  "cmd-g cmd-h": "markdown-writer:toggle-strikethrough-text"
  'cmd-g cmd->': "markdown-writer:toggle-blockquote"
  'cmd-g cmd-"': "markdown-writer:toggle-codeblock-text"
  "cmd-g cmd-o": "markdown-writer:toggle-ol"
  "cmd-g cmd-u": "markdown-writer:toggle-ul"
