# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

# Disabling some useless keybindings
'body':
  'cmd-0': 'unset!'
  'cmd-2': 'unset!'
  'cmd-6': 'unset!'
  'cmd-7': 'unset!'
  # 'cmd-9': 'unset!'
  'ctrl-tab': 'native!'
  'ctrl-cmd-w': 'window:close'

# Remapping Keybindings for Bookmark handling
    # Disabling conflicts
'atom-workspace atom-text-editor:not([mini])':
  'cmd-j': 'unset!' # 'editor:join-lines'
    # Remapping keys
'.platform-darwin atom-text-editor':
  'cmd-j': 'bookmarks:toggle-bookmark'
  'ctrl-j': 'bookmarks:jump-to-next-bookmark'
  'ctrl-shift-j': 'bookmarks:jump-to-previous-bookmark'
  'cmd-alt-j': 'bookmarks:view-all'
  'ctrl-alt-cmd-j': 'bookmarks:clear-bookmarks'

# Add file from tree view
'.platform-darwin':
    'ctrl-cmd-n': 'tree-view:add-file'

# Remapping autocomplete toggle
'atom-text-editor':
  'cmd-space': 'autocomplete:toggle'

# Remapping Keybindings for Pane Manager
'.platform-darwin atom-workspace':
  'cmd-k cmd-l cmd-&': 'pane-manager:changeLayoutOne'
  'cmd-k cmd-l cmd-2': 'pane-manager:changeLayoutTwo'
  'cmd-k cmd-l cmd-"': 'pane-manager:changeLayoutThree'
  'cmd-k cmd-l cmd-\'': 'pane-manager:changeLayoutFour'
  'cmd-k cmd-l cmd-(': 'pane-manager:changeLayoutFive'
  'cmd-k cmd-l cmd-§': 'pane-manager:changeLayoutSix'
  'cmd-k cmd-l cmd-7': 'pane-manager:changeLayoutSeven'
  'cmd-k cmd-l cmd-!': 'pane-manager:changeLayoutEight'
  'cmd-k cmd-l cmd-9': 'pane-manager:changeLayoutNine'
  'cmd-k cmd-l cmd-0': 'pane-manager:changeLayoutTen'
  'cmd-k cmd-m cmd-&': 'pane-manager:moveToPaneOne'
  'cmd-k cmd-m cmd-2': 'pane-manager:moveToPaneTwo'
  'cmd-k cmd-m cmd-"': 'pane-manager:moveToPaneThree'
  'cmd-k cmd-m cmd-\'': 'pane-manager:moveToPaneFour'
  'cmd-k cmd-m cmd-(': 'pane-manager:moveToPaneFive'
  'cmd-k cmd-m cmd-§': 'pane-manager:moveToPaneSix'
  'cmd-k cmd-m cmd-7': 'pane-manager:moveToPaneSeven'
  'cmd-k cmd-m cmd-!': 'pane-manager:moveToPaneEight'
  'cmd-k cmd-m cmd-9': 'pane-manager:moveToPaneNine'
  'cmd-k cmd-m cmd-0': 'pane-manager:moveToPaneTen'
  'cmd-k cmd-f cmd-&': 'pane-manager:focusToPaneOne'
  'cmd-k cmd-f cmd-2': 'pane-manager:focusToPaneTwo'
  'cmd-k cmd-f cmd-"': 'pane-manager:focusToPaneThree'
  'cmd-k cmd-f cmd-\'': 'pane-manager:focusToPaneFour'
  'cmd-k cmd-f cmd-(': 'pane-manager:focusToPaneFive'
  'cmd-k cmd-f cmd-§': 'pane-manager:focusToPaneSix'
  'cmd-k cmd-f cmd-7': 'pane-manager:focusToPaneSeven'
  'cmd-k cmd-f cmd-!': 'pane-manager:focusToPaneEight'
  'cmd-k cmd-f cmd-ç': 'pane-manager:focusToPaneNine'
  'cmd-k cmd-f cmd-0': 'pane-manager:focusToPaneTen'
# Remapping close all
  'cmd-shift-w': 'tabs:close-all-tabs'


# Emmet
# language-specific Tab triggers
# you can add more triggers by changing `grammar` attribute values
'atom-text-editor[data-grammar="text html basic"]:not([mini]), atom-text-editor[data-grammar~="jade"]:not([mini]), atom-text-editor[data-grammar~="css"]:not([mini]), atom-text-editor[data-grammar~="sass"]:not([mini]), atom-text-editor[data-grammar~="stylus"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'
# Remapping Emmet
'.platform-darwin atom-text-editor:not([mini])':
  'shift-cmd-E': 'unset!'
  'shift-cmd-E': 'easy-motion-redux:start'
  'cmd-g cmd-e': 'easy-motion-redux:start'

'atom-text-editor:not([mini])':
  'alt-shift-up': 'unset!'
  'alt-shift-down': 'unset!'

# Remapping Spotify
'.platform-darwin, .platform-darwin .command-palette atom-text-editor':
  'cmd-alt-shift-right': 'unset!'
  'cmd-alt-shift-left': 'unset!'
  'ctrl-alt-t': 'unset!'
  'ctrl-alt-P': 'unset!'
  'ctrl-alt-p': 'unset!'

# Lazy Motion
'atom-text-editor':
  'shift-cmd-I': 'lazy-motion:forward'
  'cmd-g cmd-i': 'lazy-motion:forward'
  'shift-cmd-U': 'lazy-motion:backward'
  'cmd-g cmd-u': 'lazy-motion:backward'

'.platform-darwin atom-text-editor.lazy-motion':
  'tab': 'lazy-motion:forward'
  'shift-tab': 'lazy-motion:backward'
  'esc': 'core:cancel'

# Expand Region
'atom-text-editor:not([mini])':
  'alt-shift-up': 'expand-region:expand'
  'alt-shift-down': 'expand-region:shrink'

# Wrap'n'pad
'atom-text-editor:not([mini])':
  'cmd-g cmd-(': 'wrap-and-pad:wrap-and-pad-with-parenthesis'
  'cmd-g cmd-5': 'wrap-and-pad:wrap-and-pad-with-brackets'
  'cmd-g alt-cmd-(': 'wrap-and-pad:wrap-and-pad-with-curly-brackets'

# Markdown Writer
".platform-darwin atom-text-editor:not([mini])[data-grammar~='gfm']":
  "cmd-g cmd-l": "markdown-writer:insert-link"
  "cmd-g cmd-g": "markdown-writer:insert-image"
  "cmd-g cmd-i": "markdown-writer:toggle-italic-text"
  "cmd-g cmd-b": "markdown-writer:toggle-bold-text"
  "cmd-g cmd-k": "markdown-writer:toggle-code-text"
  "cmd-g cmd-<": "markdown-writer:toggle-keystroke-text"
  "cmd-g cmd-h": "markdown-writer:toggle-strikethrough-text"
  'cmd-g cmd->': "markdown-writer:toggle-blockquote"
  'cmd-g cmd-"': "markdown-writer:toggle-codeblock-text"
  "cmd-g cmd-o": "markdown-writer:toggle-ol"
  "cmd-g cmd-u": "markdown-writer:toggle-ul"
