'packages': [
  'coffeescript-check'
  'editorconfig'
  'emmet'
  'easy-motion-redux'
  'gutter-shadow'
  'indent-toggle-on-paste'
  'language-jade'
  'language-nginx'
  'language-swift'
  'linter'
  'linter-coffeelint'
  'linter-csslint'
  'linter-eslint'
  'linter-htmllint'
  'open-in-browser'
  'package-sync'
  'pane-manager'
  'set-syntax'
  'seti-ui'
  'sort-lines'
  'string-looper'
  'Stylus'
  'tab-control'
  'tomorrow-night-eighties'
  'tree-ignore'
  'w3c-validation'
]
