packages: [
  "autocomplete-paths"
  "atom-beautify"
  "caniuse"
  "coffeescript-check"
  "easy-motion-redux"
  "editorconfig"
  "emmet"
  "gutter-shadow"
  "indent-toggle-on-paste"
  "language-babel"
  "language-docker"
  "language-graphql"
  "language-jade"
  "language-javascript-jxa"
  "language-nginx"
  "language-swift"
  "lazy-motion"
  "linter"
  "linter-coffeelint"
  "linter-csslint"
  "linter-docker"
  "linter-eslint"
  "linter-gadkod"
  "linter-htmlhint"
  "linter-jsonlint"
  "linter-stylint-h"
  "local-config"
  "markdown-writer"
  "package-sync"
  "pane-manager"
  "pigments"
  "pretty-json"
  "react-es6-snippets"
  "react-snippets"
  "set-syntax"
  "seti-ui"
  "sort-lines"
  "string-looper"
  "Stylus"
  "tab-control"
  "todo-show"
  "toggle-quotes"
  "tomorrow-night-eighties"
  "w3c-validation"
  "wrap-and-pad"
]
