packages: [
  "coffeescript-check"
  "easy-motion-redux"
  "editorconfig"
  "emmet"
  "gutter-shadow"
  "indent-toggle-on-paste"
  "language-docker"
  "language-jade"
  "language-nginx"
  "language-swift"
  "lazy-motion"
  "linter"
  "linter-coffeelint"
  "linter-csslint"
  "linter-eslint"
  "linter-gadkod"
  "linter-htmlhint"
  "markdown-writer"
  "open-in-browser"
  "package-sync"
  "pane-manager"
  "pigments"
  "run-command"
  "set-syntax"
  "seti-ui"
  "sort-lines"
  "string-looper"
  "Stylus"
  "tab-control"
  "tomorrow-night-eighties"
  "tree-ignore"
  "w3c-validation"
]
