# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

'.source.js':
  'Function Expression':
    'prefix': 'varfunc'
    'body': """var $1 = function( $2 ) {
        $3
    }; // $1
    """
  'console.log':
    'prefix': 'clog'
    'body': """console.log( $1 );"""
  'function':
    'prefix': 'func'
    'body': """function( $1 ) {
        $2
    };"""
  'arrow function':
    'prefix': '=>',
    'body': """( $1 ) => {
        $2
    };"""
