# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

'.source.js':
  'Function Expression':
    'prefix': 'varfunc'
    'body': """var $1 = function( $2 ) {
        $3
    }; // $1
    """
  'console.log':
    'prefix': 'clog'
    'body': """console.log( $1 );"""
  'function':
    'prefix': 'func'
    'body': """function( $1 ) {
        $2
    }"""
  'arrow function':
    'prefix': '=>',
    'body': """( $1 ) => {
        $2
    }"""
  'import statement':
    'prefix': 'import',
    'body': """import $1 from \"$1$2\";$3"""
  'ajax error':
    'prefix': 'ajerr',
    'body': """return ajax.error( oRequest, oResponse, ${1:500}, "${2:UNKNOWN_ERROR}"$3 );"""
  'ajax send':
    'prefix': 'ajsnd',
    'body': """return ajax.send( oRequest, oResponse, $1 );"""

'*':
  'File Header':
    'prefix': 'file-header'
    'body': """/* ${1:context}/${2:repo}
\ *
\ * ${3:/path} - ${4:description}
\ *
\ * coded by ${5:leny@flatLand!}
\ * started at ${6:date}
\ */

$7"""
